body{
 background-color: ivory;
}

.profile{
    display: wrap-flex;
   

    }
.profile_img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: inherit;
    margin: 0 auto 20px auto;
    display: block;
    size:    20px;

}
.bio-data{
font-family: sans-serif;
max-width: 40%;
height: 25em;
margin: 2px auto 0px 30%;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
padding: 20px;
background-color: transparent;
}
.about{
    
font-family: sans-serif;
max-width: 100%;
margin: 5px auto 5px auto;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
padding: 20px;
background-color: transparent;
}
.contact{
    
font-family: sans-serif;
max-width: 80%;
height: 20em;
margin: 30px 40px 4px 40px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
padding: 20px;
border-radius: 70px;
background-color: transparent;
}
form{
    margin: 20px;
}
input{
    font-family: sans-serif;
    height: 10px;
    width:80%;
    margin: 10px auto 20px auto;
    padding: 20px;
    border-right: none;
    border-top: none;
    border-left: none;
}
textarea{
     font-family: sans-serif;
    max-height: 100px;
    width:80%;
    margin: 10px auto 20px auto;
    padding: 20px;
    border-right: none;
      border-left: none;
    border-top: none;

}
button[type=submit] {
    width: 20%;
    background-color: black;
    color: silver; 
    padding: 12px 40px;
    margin-left: 35%;
    display: block;
    border-radius: 20px;
    border: transparent;
    text-decoration: solid;
    text-size-adjust: 20px;
   
}
h3{
    text-align: center;
}
